services:
  women-health-assistant-old:
    # build: .
    image: medical-chatbot-api:0.0.3
    ports:
      - "8300:8300"
    environment:
      - GOOGLE_API_KEY=${GOOGLE_API_KEY}
    volumes:
      - ./docs:/app/docs
      - ./Vector_DB - Documents:/app/Vector_DB - Documents
    restart: unless-stopped
    networks:
      - my_shared_network
    # healthcheck:
    #   test: ["CMD", "curl", "-f", "http://localhost:8300/docs"]
    #   interval: 30s
    #   timeout: 10s
    #   retries: 3

networks:
  my_shared_network:
    external: true
    name: my_shared_network
